/* ---------------------------
   Logo
---------------------------- */
.global-logo-link{
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 100;
}

.global-logo{
  height: 75px;
  width: auto;
}

/* ---------------------------
   SMALL HAMBURGER
---------------------------- */
.home-hamburger {
  position: fixed;
  top: 25px;
  right: 25px;
  font-size: 30px;
  background: none;
  color: #ffffff;
  border: none;
  cursor: pointer;
  z-index: 50;
}

.hamburger-blue {
  color: #1454c9;
}



/* ---------------------------
   SMALL SLIDE MENU
---------------------------- */
.side-menu {
  position: fixed;
  top: 0;
  right: -220px;   /* hidden */
  width: 200px;
  height: 100vh;
  background: #00205B;
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: right 0.3s ease;
  z-index: 40;
}

.side-menu.show {
  right: 0;        /* slides in */
}

.side-menu a {
  color: white;
  font-size: 18px;
  text-decoration: none;
}
