.Ourproject{
  width: 100vw;       /* full viewport width */
  max-width: 99.5vw;   /* ignore container max-width */
  margin-left: calc(50% - 50vw); /* BREAK OUT OF CONTAINER */
  margin-right: calc(50% - 50vw);
  height: auto;
  display: block;
}

.FundraiseText{
  padding: '3rem',;
  max-Width: '800px'; 
  margin: '0 auto' ;
  font-family: 'Courier New', serif;
}